dofuturo-editor .dofuturo-button:not(:disabled) {
	cursor: pointer
}

.is-hidden {
	display: none !important
}

.column {
	display: block;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
	padding: 0.75rem
}

@media screen and (min-width: 769px),
print {
	.column.is-6 {
		flex: none;
		width: 50%
	}
}

.button {
	-moz-appearance: none;
	-webkit-appearance: none;
	align-items: center;
	border: 1px solid transparent;
	border-radius: 2px;
	box-shadow: none;
	display: inline-flex;
	font-size: 1rem;
	height: 2.25em;
	justify-content: flex-start;
	line-height: 1.5;
	padding-bottom: calc(0.375em - 1px);
	padding-left: calc(0.625em - 1px);
	padding-right: calc(0.625em - 1px);
	padding-top: calc(0.375em - 1px);
	position: relative;
	vertical-align: top;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #ffffff;
	border-color: #dbdbdb;
	color: #363636;
	cursor: pointer;
	justify-content: center;
	padding-left: 0.75em;
	padding-right: 0.75em;
	text-align: center;
	white-space: nowrap
}

.button:focus,
.button:active {
	outline: none
}

.button:hover {
	border-color: #b5b5b5;
	color: #3163f3
}

.button:focus {
	border-color: #222222
;
	color: #363636
}

.button:active {
	border-color: #4a4a4a;
	box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
	color: #363636
}

.button.is-primary {
	background-color: #222222
;
	border-color: transparent;
	color: #fff
}

.button.is-primary:hover {
	background-color: #092f9c;
	border-color: transparent;
	color: #fff
}

.button.is-primary:focus {
	border-color: transparent;
	box-shadow: 0 0 0.5em rgba(13, 69, 228, 0.25);
	color: #fff
}

.button.is-primary:active {
	background-color: #0c3ecc;
	border-color: transparent;
	box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
	color: #fff
}

.input,
.textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	align-items: center;
	border: 1px solid transparent;
	border-radius: 2px;
	box-shadow: none;
	display: inline-flex;
	font-size: 1rem;
	height: 2.25em;
	justify-content: flex-start;
	line-height: 1.5;
	padding-bottom: calc(0.375em - 1px);
	padding-left: calc(0.625em - 1px);
	padding-right: calc(0.625em - 1px);
	padding-top: calc(0.375em - 1px);
	position: relative;
	vertical-align: top;
	background-color: #ffffff;
	border-color: #dbdbdb;
	color: #363636;
	box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
	max-width: 100%;
	width: 100%
}

.input:focus,
.input:active,
.textarea:focus,
.textarea:active {
	outline: none
}

.input:hover,
.textarea:hover {
	border-color: #b5b5b5
}

.input:focus,
.input:active,
.textarea:focus,
.textarea:active {
	border-color: #222222

}

.textarea {
	display: block;
	max-width: 100%;
	min-width: 100%;
	padding: 0.625em;
	resize: vertical
}

.textarea[rows] {
	height: unset
}

.label {
	color: #363636;
	display: block;
	font-size: 1rem;
	font-weight: 700
}

.label:not(:last-child) {
	margin-bottom: 0.5em
}

.help {
	display: block;
	font-size: 0.75rem;
	margin-top: 0.25rem
}

.help.is-info {
	color: #4e4c57
}

.field:not(:last-child) {
	margin-bottom: 1.5rem
}

.control {
	font-size: 1rem;
	position: relative;
	text-align: left
}

.control.has-icons-left .input:focus~.icon,
.control.has-icons-right .input:focus~.icon {
	color: #7a7a7a
}

.control.has-icons-left .icon,
.control.has-icons-right .icon {
	color: #dbdbdb;
	height: 2.25em;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 2.25em;
	z-index: 4
}

.control.has-icons-left .input {
	padding-left: 2.25em
}

.control.has-icons-left .icon.is-left {
	left: 0
}

.control.has-icons-right .input {
	padding-right: 2.25em
}

.control.has-icons-right .icon.is-right {
	right: 0
}

.icon {
	align-items: center;
	display: inline-flex;
	justify-content: center;
	height: 1.5rem;
	width: 1.5rem
}

.icon .fa {
	font-size: 21px
}

.icon.is-small {
	height: 1rem;
	width: 1rem
}

.icon.is-small .fa {
	font-size: 14px
}

.fa {
	font-size: 21px;
	text-align: center;
	vertical-align: top
}

.navbar {
	background-color: #ffffff;
	min-height: 3.25rem;
	position: relative
}

.navbar.is-primary {
	background-color: #222222
;
	color: #fff
}

.navbar.is-primary .navbar-brand>.navbar-item {
	color: #fff
}

.navbar.is-primary .navbar-brand>a.navbar-item:hover {
	background-color: #0c3ecc;
	color: #fff
}

.navbar-brand {
	align-items: stretch;
	display: flex;
	flex-shrink: 0;
	min-height: 3.25rem
}

.navbar-item {
	color: #4a4a4a;
	display: block;
	line-height: 1.5;
	padding: 0.5rem 1rem;
	position: relative
}

a.navbar-item:hover {
	background-color: #f8f8f8;
	color: #222222

}

.navbar-item {
	flex-grow: 0;
	flex-shrink: 0
}

@media screen and (max-width: 768px) {
	.navbar-brand .navbar-item {
		align-items: center;
		display: flex
	}
}

@media screen and (min-width: 769px),
print {
	.navbar {
		align-items: stretch;
		display: flex
	}
	.navbar {
		min-height: 3.25rem
	}
	.navbar-item {
		align-items: center;
		display: flex
	}
	a.navbar-item.is-active:not(:hover),
	.navbar-link.is-active:not(:hover) {
		background-color: #f8f8f8
	}
}

+tablet .navbar-dropdown {
	border: 1px solid #EBEBEC;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px
}

.fa {
	margin-right: .2rem;
	vertical-align: bottom
}

.fa {
	margin: .2rem;
	vertical-align: bottom
}

.-button {
	height: auto !important;
	display: inline-block;
	text-transform: uppercase;
	font-size: 0.875rem;
	carta-spacing: 0.1em;
	line-height: 1.25;
	padding: 1rem 2rem;
	margin: 0.25rem 0;
	transition: color 0.1s ease-in;
	border-radius: 0;
	font-weight: 600
}

.-button:hover {
	text-decoration: none
}

input,
textarea {
	border: none;
	overflow: auto;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

p a:hover {
	text-decoration: underline
}

.card {
	background-color: #ffffff;
	box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
	color: #4a4a4a;
	max-width: 100%;
	position: relative
}


/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

footer,
nav,
section {
	display: block
}

h1 {
	font-size: 2em;
	margin: 0.67em 0
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects
}

input,
textarea {
	font-size: 100%;
	line-height: 1.15;
	margin: 0
}

input {
	overflow: visible
}

[type="submit"] {
	-webkit-appearance: button
}

[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0
}

[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText
}

textarea {
	overflow: auto
}

[type="radio"] {
	box-sizing: border-box;
	padding: 0
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}

html,
body,
div,
section,
footer,
form,
a,
h1,
h2,
h4,
p,
ul,
li,
textarea,
input[type="text"] {
	box-sizing: border-box
}

.bb {
	border-bottom-style: solid;
	border-bottom-width: 1px
}

.b--light-gray {
	border-color: #EBEBEC
}

.dn {
	display: none
}

.db {
	display: block
}

.dib {
	display: inline-block
}

@media screen and (min-width: 30em) {
	.di-ns {
		display: inline
	}
}

@media screen and (min-width: 45em) {
	.db-m {
		display: block
	}
	.dib-m {
		display: inline-block
	}
}

body {
	font-family: "soleil", -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif
}

.i {
	font-style: italic
}

.normal,
body {
	font-weight: normal
}

body {
	font-weight: 300
}

.fw4,
body {
	font-weight: 400
}

.fw6 {
	font-weight: 600
}

.lh-solid {
	line-height: 1
}

.lh-copy,
body {
	line-height: 1.5
}

.w-100 {
	width: 100%
}

.white {
	color: #ffffff
}

.dark-red {
	color: #FF3F20
}

.green {
	color: #1AD98A
}

.bg-white {
	background-color: #ffffff
}

.bg-blue {
	background-color: #222222

}

.pa0 {
	padding: 0
}

.pa2 {
	padding: 0.5rem
}

.pa3 {
	padding: 1rem
}

.mb3 {
	margin-bottom: 1rem
}

.mt4 {
	margin-top: 2rem
}

@media screen and (min-width: 30em) {
	.pa3-ns {
		padding: 1rem
	}
}

@media screen and (min-width: 45em) {
	.pa2-m {
		padding: 0.5rem
	}
}

@media screen and (min-width: 60em) {
	.pa4-l {
		padding: 2rem
	}
}

.tc {
	text-align: center
}

@media screen and (min-width: 60em) {
	.tl-l {
		text-align: left
	}
}

.f2 {
	font-size: 2.25rem
}

.f3 {
	font-size: 1.5rem
}

.f4 {
	font-size: 1.25rem
}

body {
	font-size: 1rem
}

.f6 {
	font-size: .875rem
}

@media screen and (min-width: 45em) {
	.f1-m {
		font-size: 3rem
	}
	.f3-m {
		font-size: 1.5rem
	}
}

@media screen and (min-width: 60em) {
	.f-subheadline-l {
		font-size: 5rem
	}
	.f0-l {
		font-size: 4rem
	}
}

.nowrap {
	white-space: nowrap
}

body {
	color: #4E4C57;
	background: #222222

}

.-form {
	font-family: "soleil", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
}

.-form .label {
	font-size: 0.8rem;
	font-weight: 300;
	text-transform: uppercase;
	color: #4e4c57;
	carta-spacing: 0.08em;
	margin-bottom: 0.5rem
}

.-form textarea,
.-form [type='text'] {
	color: #4E4C57;
	box-shadow: none;
	border-radius: 0;
	line-height: 1.5
}

.-form .-radios {
	display: inline
}

.-form .-radios:after {
	content: ' ';
	display: inline;
	clear: both
}

.-form .-radios .-radio {
	margin-right: 0.2rem;
	line-height: 1em
}

.-form .-radios .-radio:last-of-type {
	margin-right: 0
}

.-form .-radios .-radio input[type='radio'] {
	display: none
}

.-form .-radios .-radio input[type='radio']:checked~label {
	color: white;
	background-color: #4E4C57;
	border: 1px solid #4E4C57
}

.-form .-radios .-radio label {
	font-size: 0.9rem;
	line-height: 1.2rem;
	text-align: middle;
	font-weight: 450;
	display: inline-block;
	color: #7A7881;
	border: 1px #EBEBEC solid;
	padding: 0.4rem 1rem 0.3rem 1rem;
	transition: color 0.2s ease;
	cursor: pointer;
	user-select: none;
	border-radius: 50px;
	user-select: none
}

.-form .-radios .-radio label:hover,
.-form .-radios .-radio label :active {
	border: 1px solid #7A7881;
	color: #7A7881
}

.navbar.is-primary a.navbar-item {
	color: white !important
}

.navbar.is-primary a.navbar-item:hover {
	color: white !important;
	background-color: transparent !important;
	text-decoration: none
}

@media screen and (max-width: 30em) {
	.-tagline {
		margin-top: 0 !important
	}
}

.-marketing {
	padding-left: 1rem;
	padding-right: 1rem;
	margin-top: 3rem;
	margin-left: auto;
	margin-right: auto
}

.-home-carta {
	width: 100%;
	max-width: 28rem;
	margin: auto
}

@media screen and (min-width: 30em) {
	.-marketing {
		margin-top: 3rem
	}
	.-home-carta {
		margin-top: 4rem
	}
}

@media screen and (min-width: 45em) {
	.-home-carta {
		margin-top: 5rem
	}
}

@media screen and (min-width: 60em) {
	.-marketing {
		width: auto;
		margin-right: 32rem
	}
	.-home-carta {
		position: fixed;
		margin-top: 3.5rem;
		width: 28rem;
		top: 2rem;
		right: 2rem
	}
}

@media screen and (min-width: 60em) and (max-height: 38em) {
	.-home-carta {
		position: absolute !important
	}
}

@media screen and (min-width: 80em) {
	.-marketing {
		width: auto;
		margin-right: 42rem;
		margin-left: 2rem
	}
	.-home-carta {
		position: fixed;
		margin-top: 3.5rem;
		width: 35rem;
		max-width: 35rem;
		top: 1.5rem;
		right: 1.5rem
	}
}

@media screen and (min-width: 100em) {
	.-marketing {
		margin-left: 6rem
	}
}

body {
	color: #4E4C57;
	background: #ffffff
}

.fullspectrum-gradient {
	background: linear-gradient(241deg, #FF8C47, #222222
, #22e099, #FF5D36)
}

.animate-background {
	background-size: 800%, 800%;
	-webkit-animation: rainbow 8s ease infinite;
	-moz-animation: rainbow 8s ease infinite;
	animation: rainbow 8s ease infinite
}

.animate-background:hover {
	animation: rainbow 4s ease infinite
}

@keyframes rainbow {
	0% {
		background-position: 0% 80%
	}
	50% {
		background-position: 100% 20%
	}
	100% {
		background-position: 0% 80%
	}
}

@media screen and (max-width: 30em) {
	.-tagline {
		margin-top: 0 !important
	}
}

.-marketing {
	padding-left: 1rem;
	padding-right: 1rem;
	margin-top: 3rem;
	margin-left: auto;
	margin-right: auto
}

.-home-carta {
	width: 100%;
	max-width: 28rem;
	margin: auto
}

@media screen and (min-width: 30em) {
	.-marketing {
		margin-top: 3rem
	}
	.-home-carta {
		margin-top: 4rem
	}
}

@media screen and (min-width: 45em) {
	.-home-carta {
		margin-top: 5rem
	}
}

@media screen and (min-width: 60em) {
	.-marketing {
		margin-right: 32rem;
		width: auto
	}
	.-home-carta {
		margin-top: 3.5rem;
		position: fixed;
		right: 2rem;
		top: 2rem;
		width: 28rem
	}
}

@media screen and (min-width: 60em) and (max-height: 38em) {
	.-home-carta {
		position: absolute !important
	}
}

@media screen and (min-width: 80em) {
	.-marketing {
		width: auto;
		margin-right: 42rem;
		margin-left: 2rem
	}
	.-home-carta {
		margin-top: 3.5rem;
		max-width: 35rem;
		position: fixed;
		right: 1.5rem;
		top: 1.5rem;
		width: 35rem
	}
}

@media screen and (min-width: 100em) {
	.-marketing {
		margin-left: 6rem
	}
}

.-footer-blue {
	background-color: #222222
;
	color: #ffffff;
	padding: 3rem
}

.-footer-blue ul li {
	margin-top: 10px
}

.-footer-blue ul li a {
	color: #ffffff
}

.-footer-blue ul li a:hover {
	color: #ffffff;
	text-decoration: underline
}

:root {
	---scheme-main: #ffffff;
	---scheme-main-bis: #fafafa;
	---scheme-main-ter: whitesmoke;
	---scheme-invert: #221F2D;
	---scheme-invert-bis: #121212;
	---scheme-invert-ter: #242424;
	---text-heading: #221F2D;
	---text-strong: #1F2A37;
	---text: #4B5663;
	---text-light: #9CA3AF;
	---text-disabled: #D1D5DA;
	---text-invert: #ffffff;
	---background: #F6F7F9;
	---border-light: #EDEDF3;
	---border: #E0E0EB;
	---family-body: soleil, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
	---weight-heading: 600;
	---weight-strong: 600;
	---weight-normal: 400;
	---radius-rounded: 9999px;
	---primary: #222222
;
	---primary-light: #6E8FFE;
	---primary-invert: #ffffff;
	---success: #24CC7B;
	---success-invert: #ffffff;
	---danger: #FA615C;
	---danger-invert: #ffffff;
	---pro-dark: #20222A;
	---pro-dark-rgb: 32, 34, 42;
	---pro-dark-bis: #1A1C23;
	---pro-invert: #ffffff;
	---pro-invert-rgb: 255, 255, 255;
	---pro-gradient: linear-gradient(79.81deg, #D719D1 4.02%, #2A95F9 100%);
	---transition-duration: 250ms;
	---container-width: 721px;
	---control-background-color: #ffffff;
	---control-border-color: #E0E0EB;
	---control-border-radius: 0.375em;
	---control-border-width: 1px;
	---control-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
	---control-color: #242424;
	---control-line-height: 1.25;
	---control-height: 2.75em;
	---control-padding-bottom: 0.8125em;
	---control-padding-top: 0.6875em;
	---control-padding-x: 0.75em;
	---icon-dimensions: 2em;
	---btn-padding-x: 1em;
	---brand-facebook: #1877f2;
	---brand-google: #ea4335;
	---brand-squarespace: #222222;
	---brand-twitter: #1DA1F2;
	---brand-weebly: #3374FF;
	---brand-wordpress: #0087be
}

@media screen and (min-width: 1068px) {
	:root {
		---container-width: 960px
	}
}

@media screen and (min-width: 1260px) {
	:root {
		---container-width: 1152px
	}
}

@media screen and (min-width: 1452px) {
	:root {
		---container-width: 1344px
	}
}

.min-vh {
	min-height: 65vh
}

.label {
	font-size: .875rem;
	text-transform: uppercase;
	line-height: 1.25;
	carta-spacing: .1em;
	font-weight: 400;
	text-transform: uppercase
}
